
.main-frame {
    padding: 3%;
}

.main-frame.sender {
    background-color: #4AB7BA;
}

.main-frame.receiver {
    background-color: #8C49B7;
}

h1 {

}

.description {

}

#startButton {
    width: 160px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    font-size: large;
}