
.main-a {   
    display: block;        /* makes <a> behave like a block */
    width: 100%;           /* fill horizontally */
    height: 100%;          /* fill vertically */
}

.introImg {
    width: 100%;
    height: 100%;
}